asgiref==3.2.10
attrs==20.2.0
autobahn==20.7.1
automat==20.2.0
cffi==1.14.2
channels==2.4.0
constantly==15.1.0
cryptography==3.1
daphne==2.5.0
django-cors-headers==3.5.0
django-pymemcache==1.0.0
django==3.1.1
djangorestframework-simplejwt==4.4.0
djangorestframework==3.11.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
psycopg2==2.8.6
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyhamcrest==2.0.2
pyjwt==1.7.1
pymemcache==3.4.0
pyopenssl==19.1.0
python-decouple==3.3
python-memcached==1.59
pytz==2020.1
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
twisted==20.3.0
txaio==20.4.1
zope.interface==5.1.0
