@import 'colors';

.login-page, .register-page {
  max-height: 90vh;
  width: 40vw;
  margin-top: 50px;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    width: 95%;
    width: 95vw;
    max-height: 95%;
    max-height: 95vh;
  }
  @media (min-width: 1025px) {
    width: 30%;
    width: 30vw;
    max-height: 80%;
    max-height: 80vh;
  }
}

//MAIN PAGE>>>>>ou

img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  padding: 10px;
}

.bottom-page-info {
  padding-top: 10px;
  font-size: larger;
  font-weight: bold;
}

//<<<<<MAIN PAGE


//LOGIN & REGISTER PAGE>>>>>

.login-form, .register-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}


//<<<<<LOGIN AND REGISTER PAGE