$color-default: #ccccb3;
$color-success: #28a745;
$color-player1-pieces: #cd3532;
$color-player2-pieces: #0c9d94;
$color-dark: #343a40;
$color-available-moves-1: #ff6347;
$color-available-moves-2: #7fffd4;
$color-square-dark: #484848;