$factor-600: (600/900);
$factor-720: (720/900);
$factor-768: (768/900);
$factor-800: (800/900);
$factor-834: (834/900);
$factor-900: 1;
$factor-1050: (1050/900);
$factor-1080: (1080/900);
$factor-1440: (1440/900);

$factor-540-portrait: (540/720);
$factor-640-portrait: (640/720);
$factor-720-portrait: (720/720);
$factor-750-portrait: (750/720);
$factor-1080-portrait: (1080/720);
$factor-1125-portrait: (1125/720);
$factor-1440-portrait: (1440/720);